@navbar-height: 50px;
@transition-duration: 1s;

.background-set(@color, @bgColor){
  color: @color;
  background: @bgColor;
  transition: background @transition-duration, color @transition-duration, border-color @transition-duration;
  border-color: @color;
}

body {
  .background-set(black, white);
  &.dark{
    .background-set(white, black);
  }
  &>*{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}
.header{
  padding: 50px 0;
  margin: 0;
  .name{
    font-size: 2em;
    font-family: "Times New Roman", Times, serif;
    text-align: left;
  }
  h1{
    text-align: center;
  }
}
nav{
  padding: 10px 0;
  border-style: solid none;
  border-width: 1px;
  a{
    text-decoration: none;
    .background-set(black, white);

    border: 1px black;
    border-style: none none none solid;
    padding: 0 10px;

    &:first-child{
      border: none;
      padding-left: 0;
    }
  }
  .theme{
    float: right;
    .toggle{
      cursor: pointer;
      &:hover{
        color: #0FA0CE;
      }
    }
  }
  .background-set(black, white);
  .dark &{
    .background-set(white, black);
    a{
      .background-set(white, black);
    }
  }
  &.sticky{
    position: sticky;
    top: 0;
    &:before,
    &:after {
      content: '';
      display: table;
    }
  }
  max-height: @navbar-height;
}
.content{
  img{
    width: 100%;
  }
  padding-top: @navbar-height;
  h2{
    border-style: none none solid none;
  }
}
